blinker==1.8.2
CacheControl==0.14.0
cachelib==0.13.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
dnspython==2.7.0
Flask==3.0.3
Flask-OAuthlib==0.9.6
google-auth==2.35.0
google-auth-oauthlib==1.2.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
msgpack==1.1.0
oauthlib==2.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pymongo==4.10.1
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==1.1.0
rsa==4.9
urllib3==2.2.3
Werkzeug==3.0.4

