.gradient-background {
    background: linear-gradient(300deg, #f5f5f5, #a0b9fd, #6b88e9);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    height: 600px;
    
    
}

.center{

    text-align: center;
    padding-top: 150px;
}
  
@keyframes gradient-animation {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

